.DS_Store

mysql/init/*.sql
mysql/init/*.sh
mysql/data
mysql/backup/*.sql
nginx/conf.d/**/*.conf
nginx/conf.d/**/*.json
nginx/conf.d/**/*.*passwd
nginx/ssl/**/*.key
nginx/ssl/**/*.pem
nginx/ssl/**/*.json

.idea
.env

/test.sh

0]